@import "~src/scss/base";

.type-details {
    display: flex;
    flex-wrap: wrap;

    &__name {
        font-weight: 700;
        flex: 0 0 100%;
        text-transform: capitalize;
    }

    &__list {
        margin-top: 1em;
    }
}
